body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  color: #1d1e1c;
}

.heading1 {
  font-size: 96px;
  font-weight: bold;
  line-height: 120%;
}

.heading2 {
  font-size: 48px;
  font-weight: bold;
  line-height: 100%;
  margin: 0;
}

.heading3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 140%;
  margin: 0;
}

.heading4 {
  font-size: 16px;
  font-weight: bold;
  line-height: 140%;
}

.paragraph {
  font-size: 14px;
  font-weight: normal;
  line-height: 180%;
}

.strong-paragraph {
  font-size: 14px;
  font-weight: bold;
  line-height: 150%;
}

.subtitle {
  font-size: 12px;
  font-weight: 600;
  line-height: 150%;
}

.white-button,
.black-button {
  padding: 12px 24px;
  border-radius: 48px;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  text-wrap: nowrap;
}

.white-button {
  border: 1px solid #1d1e1c;
}

.black-button {
  background-color: #1d1e1c;
  color: white;
}

.main-section {
  padding: 112px 0;
}

.container {
  margin: 0 64px;
}

@media (max-width: 767px) {
  .main-section {
    padding: 64px 0;
  }
  .container {
    margin: 0 20px;
  }
}
ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #1d1e1c;
}

p {
  margin: 0;
}

/* Header Section Start*/
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .logo {
  letter-spacing: -1px;
}
.header .container i {
  display: none;
}
.header .container .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}
.header .container .links .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

/* Header Section End*/
/*Hero Section Start*/
.hero {
  padding: 112px 0;
}
.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.hero .container .content {
  max-width: 640px;
  height: 488px;
}
.hero .container .content .main-heading h1 {
  margin: 0;
}
.hero .container .content .claim {
  width: -moz-fit-content;
  width: fit-content;
}
.hero .container .image {
  background-size: cover;
}
.hero .container .image img {
  max-width: 100%;
  border-radius: 48px;
}

/*Hero Section End*/
/* Proof Section Start*/
.proof {
  text-align: center;
}
.proof .container {
  padding: 80px 64px;
}
.proof .container .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

/* Proof Section End*/
/* Features Seciton Start*/
.features {
  padding: 112px 64px;
}
.features .container {
  text-align: center;
}
.features .container > p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 80px;
  flex-wrap: wrap;
}
.features .container > p img {
  width: 180px;
  height: 58px;
  border-radius: 48px;
  margin: 0 10px;
}
.features .container .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 48px;
  justify-content: center;
}
.features .container .content .feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.features .container .content .feature .icon {
  position: relative;
}
.features .container .content .feature .icon::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  left: 10px;
  bottom: -10px;
  z-index: -1;
}
.features .container .content .feature:first-of-type .icon::after {
  background-color: #d3f585;
}
.features .container .content .feature:nth-of-type(2) .icon::after {
  background-color: #a6e8f6;
}
.features .container .content .feature:nth-of-type(3) .icon::after {
  background-color: #fcbedc;
}
.features .container .content .feature h3 {
  margin: 0;
}
.features .container .content .feature p {
  margin: 0;
}

/*Features Section End*/
/* Virtual-Tour Section Start*/
.virtual-tour {
  padding: 112px 0;
}
.virtual-tour .container {
  text-align: center;
}
.virtual-tour .container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.virtual-tour .container .content .section-heading p:first-of-type {
  margin: 0 0 16px;
}
.virtual-tour .container .content .section-heading p:nth-of-type(2) {
  width: 768px;
}
.virtual-tour .container .content .section-heading p:nth-of-type(2) img {
  width: 180px;
  height: 56px;
  border-radius: 48px;
  margin: -16px 10px;
}
.virtual-tour .container .content .section-heading p:last-of-type {
  margin: 32px auto 0;
  max-width: 760px;
  text-wrap: wrap;
  text-align: center;
}
.virtual-tour .container .content .button {
  margin-top: 24px;
}
.virtual-tour .container .video {
  margin-top: 80px;
  position: relative;
  width: 100%;
}
.virtual-tour .container .video video {
  border-radius: 48px;
  max-width: 100%;
}
.virtual-tour .container .video .icon {
  position: absolute;
  background-color: #1d1e1c;
  width: 9.75%;
  height: 14.62%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.5s;
}
.virtual-tour .container .video .icon i {
  color: #d3f585;
}

/*Virtual-Tour Section End*/
.statistics {
  padding: 112px 0;
}
.statistics .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.statistics .container .content {
  max-width: 50%;
  text-align: left;
}
.statistics .container .content .title {
  margin-bottom: 32px;
}
.statistics .container .content .title h3 {
  margin: 16px 0 0;
}
.statistics .container .content .stat-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.statistics .container .content .stat-list .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  width: 100%;
}
.statistics .container .content .stat-list .row div {
  width: 50%;
}
.statistics .container .content .stat-list .row div h4 {
  position: relative;
  margin: 0;
}
.statistics .container .content .stat-list .row div h4::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  left: 45px;
  bottom: 0;
  background-color: #d3f585;
  z-index: -1;
}
.statistics .container .content .stat-list .row div > p {
  min-height: 50.4px;
}
.statistics .container .content .stat-list .row:nth-of-type(1) div:first-of-type h4::after {
  background-color: #d3f585;
}
.statistics .container .content .stat-list .row:nth-of-type(1) div:last-of-type h4::after {
  background-color: #a6e8f6;
}
.statistics .container .content .stat-list .row:last-of-type div:first-of-type h4::after {
  background-color: #fcbedc;
}
.statistics .container .content .stat-list .row:last-of-type div:last-of-type h4::after {
  background-color: #fbc899;
}
.statistics .container .stat-image {
  background-size: cover;
  width: 50%;
}
.statistics .container .stat-image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 48px;
}

/*Testimonials Section Start*/
.testimonials {
  padding: 112px 0;
}
.testimonials .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  text-align: center;
}
.testimonials .container .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 32px;
  padding: 24px;
  transition: 0.5s;
}
.testimonials .container .content .card {
  transition: 0.5s;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 32px;
  opacity: 0.7;
  text-wrap: wrap;
}
.testimonials .container .content .card img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.testimonials .container .content .card p {
  margin: 0;
}
.testimonials .container .content .card h5 {
  margin: 0;
}
.testimonials .container .content .card:hover {
  opacity: 1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.testimonials .container .content .card-1 {
  background-color: #d3f585;
}
.testimonials .container .content .card-2 {
  background-color: #f1f1f1;
}
.testimonials .container .content .card-3 {
  background-color: #a6e8f6;
}
.testimonials .container .content .card-4 {
  background-color: #fcbedc;
}
.testimonials .container .content .card-5 {
  background-color: #fbc899;
}

/*Testimonials Section End*/
/*FAQ Section Start*/
.faq .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.faq .container .title {
  flex-basis: 50%;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 16px;
  height: 100%;
}
.faq .container .title .subheading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 24px;
}
.faq .container .title .subheading h2 {
  width: 80%;
}
.faq .container .title .subheading p {
  width: 80%;
}
.faq .container .content {
  flex-basis: 50%;
}
.faq .container .content .item {
  padding: 24px 0;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  height: 50px;
}
.faq .container .content .item .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq .container .content .item .head h3 {
  margin: 0;
}
.faq .container .content .item .head i {
  transition: 0.5s;
}
.faq .container .content .item p {
  transition: 0.5s;
  transform: translateY(200%);
}
.faq .container .content .item::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 2px;
  background-color: #1d1e1c;
  left: 0;
  bottom: 0;
}
.faq .container .content .active {
  height: -moz-fit-content;
  height: fit-content;
}
.faq .container .content .active p {
  transition: 0.5s;
  transform: translateY(15px);
}

/*FAQ Section End*/
/*Blog Section Start*/
.blog .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.blog .container .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 768px;
}
.blog .container .title .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.blog .container .title .heading .heading2 div {
  width: 180px;
  height: 56px;
  background-color: #fcbedc;
  display: inline-block;
  border-radius: 48px;
  transform: translateY(12px);
}
.blog .container .title .heading p {
  width: 540px;
}
.blog .container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
.blog .container .content .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 32px;
}
.blog .container .content .cards .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.blog .container .content .cards .card img {
  max-width: 100%;
  border-radius: 24px;
}
.blog .container .content .cards .card .info .status {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  gap: 16px;
}
.blog .container .content .cards .card .info .status p:first-of-type {
  padding: 4px 8px;
  border-radius: 8px;
}
.blog .container .content .cards .card .button {
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  gap: 8px;
  cursor: pointer;
}

/*Blog Section End*/
/*Footer Section Start*/
.footer .container {
  padding: 64px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.footer .container .content {
  padding: 48px;
  background-color: #1d1e1c;
  color: white;
  border-radius: 48px;
  width: calc(100% - 112px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 128px;
}
.footer .container .content .newsletter {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.footer .container .content .newsletter .action {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer .container .content .newsletter .action .subscribe form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 100%;
}
.footer .container .content .newsletter .action .subscribe form input[type=email] {
  color: white;
  background-color: #1d1e1c;
  flex: 1;
  border: none;
  height: 100%;
  font-size: 16px;
  border-bottom: 1px solid white;
  padding: 12px;
}
.footer .container .content .newsletter .action .subscribe form input[type=email]::-moz-placeholder {
  color: #f1f1f1;
  outline: none;
}
.footer .container .content .newsletter .action .subscribe form input[type=email]::placeholder {
  color: #f1f1f1;
  outline: none;
}
.footer .container .content .newsletter .action .subscribe form input[type=email]:focus-visible {
  outline: none;
  color: White;
  height: 100%;
}
.footer .container .content .newsletter .action .subscribe form input[type=submit] {
  font-size: 16px;
  font-weight: 500;
}
.footer .container .content .links {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: baseline;
  gap: 40px;
}
.footer .container .content .links li {
  list-style: none;
  flex: 1;
}
.footer .container .content .links li div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  gap: 16px;
}
.footer .container .content .links li div ul li {
  padding: 8px 0;
}
.footer .container .copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.footer .container .copyright .terms {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.footer .container .copyright .terms li a {
  text-decoration: underline;
}

/*Footer Section End*/
@media (min-width: 767px) and (max-width: 1199px) {
  .header .container {
    flex-direction: column;
  }
  .hero .container {
    flex-direction: column;
    text-align: center;
  }
  .hero .container .content {
    height: -moz-fit-content;
    height: fit-content;
  }
  .hero .container .content .main-heading h1 {
    font-size: 48px;
  }
  .hero .container .claim {
    margin: 0 auto;
  }
  .virtual-tour .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .testimonials .container .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 24px;
  }
  .faq .container .title .subheading {
    width: 100%;
  }
  .faq .container .title .subheading h2,
  .faq .container .title .subheading p {
    width: 100%;
  }
  .footer .container .content {
    flex-wrap: wrap;
    text-align: center;
  }
  .footer .container .content .links li div {
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .header {
    padding: 10px 0;
    transition: 0.5s;
  }
  .header .container {
    margin: 0 20px;
  }
  .header .container i {
    display: block;
    padding: 12px;
    font-size: 24px;
    border-radius: 42px;
    background-color: #1d1e1c;
    color: white;
    width: 36px;
    text-align: center;
  }
  .header .container .links {
    display: none;
    width: 100vw;
    height: 100svh;
    background-color: #1d1e1c;
    position: absolute;
    right: -100%;
    top: 7px;
    margin-top: 60px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
    transition: 0.5s;
  }
  .header .container .links li {
    padding: 20px;
  }
  .header .container .links li a {
    color: white;
    font-size: 32px;
    font-weight: bold;
  }
  .header .container .links li.buttons {
    position: absolute;
    bottom: 70px;
    right: 0px;
  }
  .header .container .links li.buttons .login,
  .header .container .links li.buttons .signin {
    background-color: white;
    color: #1d1e1c;
  }
  .hero {
    padding: 0;
  }
  .hero .container {
    margin: 64px 20px;
    flex-direction: column;
  }
  .hero .container .content {
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .hero .container .content .main-heading h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 100%;
    text-align: center;
  }
  .hero .container .content .main-heading p {
    text-align: center;
  }
  .proof .container {
    padding: 48px 24px;
  }
  .features {
    padding: 64px 20px;
  }
  .features .container > p {
    font-size: 24px;
    font-weight: bold;
    line-height: 140%;
    margin: 0 0 46px;
  }
  .features .container > p img {
    width: 120px;
    height: 34px;
  }
  .features .container .content {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .virtual-tour {
    padding: 64px 0;
  }
  .virtual-tour .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 0 20px;
  }
  .virtual-tour .container .content .section-heading p:nth-of-type(2) {
    font-size: 24px;
    font-weight: bold;
    line-height: 140%;
    width: -moz-fit-content;
    width: fit-content;
  }
  .virtual-tour .container .content .section-heading p:nth-of-type(2) img {
    width: 120px;
    height: 36px;
    margin: -10px 0;
  }
  .virtual-tour .container .video {
    margin-top: 40px;
  }
  .virtual-tour .container .video .icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .virtual-tour .container .video .icon i {
    font-size: 16px;
  }
  .statistics {
    padding: 64px 0;
  }
  .statistics .container {
    text-align: center;
    text-wrap: wrap;
    flex-direction: column;
  }
  .statistics .container .content {
    max-width: 100%;
  }
  .statistics .container .content .title h3 {
    font-size: 24px;
  }
  .statistics .container .stat-image {
    width: 100%;
  }
  .testimonials {
    padding: 64px 0;
  }
  .testimonials .container .title h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 140%;
    margin: 0;
  }
  .testimonials .container .content {
    position: relative;
    overflow: hidden;
    width: calc(100% - 40px);
    height: 450px;
    padding: 0;
    margin: 0 auto;
    transition: 0.5s;
  }
  .testimonials .container .content .arrow {
    display: block !important;
    position: absolute;
    z-index: 100;
    right: 0;
    width: calc(100% - 20px);
    text-align: right;
  }
  .testimonials .container .content .arrow .left-arrow {
    margin-right: 20px;
    color: #8e8f8d;
  }
  .testimonials .container .content .arrow .right-arrow {
    color: #1d1e1c;
  }
  .testimonials .container .content .card {
    position: absolute;
    padding: 10px;
    width: calc(100% - 20px);
    margin: 0 auto;
    opacity: 1;
    top: 46px;
    text-wrap: wrap;
  }
  .testimonials .container .content .card-2 {
    left: calc(100% + 32px);
  }
  .testimonials .container .content .card-3 {
    left: calc(100% + 32px);
  }
  .testimonials .container .content .card-4 {
    left: calc(100% + 32px);
  }
  .testimonials .container .content .card-5 {
    left: calc(100% + 32px);
  }
  .faq .container {
    flex-direction: column;
  }
  .faq .container .title {
    align-items: center;
    text-align: center;
  }
  .faq .container .title .subheading {
    align-items: inherit;
  }
  .faq .container .title .subheading h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 140%;
    margin: 0;
  }
  .faq .container .content {
    transition: 0.5s;
  }
  .faq .container .content .item .head {
    text-wrap: wrap;
  }
  .faq .container .content .active {
    height: -moz-fit-content;
    height: fit-content;
  }
  .blog .container {
    gap: 40px;
  }
  .blog .container .title {
    width: -moz-fit-content;
    width: fit-content;
  }
  .blog .container .title .heading .heading2 {
    width: 84%;
    font-size: 24px;
    font-weight: bold;
    line-height: 140%;
    text-wrap: wrap;
  }
  .blog .container .title .heading .heading2 div {
    width: 120px;
    height: 36px;
  }
  .blog .container .title .heading p {
    width: 84%;
  }
  .blog .container .content .cards {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
  .footer .container {
    padding: 32px 0;
  }
  .footer .container .content {
    padding: 48px;
    flex-direction: column;
    gap: 46px;
  }
  .footer .container .content .newsletter {
    width: 100%;
    text-align: center;
  }
  .footer .container .content .newsletter .logo p {
    font-size: 32px;
  }
  .footer .container .content .newsletter .action form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer .container .content .links {
    flex-wrap: wrap;
  }
  .footer .container .content .links li div {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer .container .copyright {
    flex-direction: column;
    align-items: center;
    text-wrap: nowrap;
  }
  .footer .container .copyright .terms {
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=style.css.map */